assets/Workout/body[[:space:]]part/Calves/Standing[[:space:]]Calf[[:space:]]Raise[[:space:]](Calves).mp4 filter=lfs diff=lfs merge=lfs -text
assets/Workout/body[[:space:]]part/abs/Cable[[:space:]]Crunch[[:space:]](Kneeling).mp4 filter=lfs diff=lfs merge=lfs -text
assets/Workout/body[[:space:]]part/legs/Leg[[:space:]]Press[[:space:]](Feet[[:space:]]Shoulder-Width).mp4 filter=lfs diff=lfs merge=lfs -text
assets/Workout/body[[:space:]]part/legs/Lying[[:space:]]Leg[[:space:]]Curl[[:space:]]Machine.mp4 filter=lfs diff=lfs merge=lfs -text
assets/Workout/body[[:space:]]part/shoulders/Seated[[:space:]]Face[[:space:]]Pull.mp4 filter=lfs diff=lfs merge=lfs -text
assets/Workout/body[[:space:]]part/triceps/Assisted[[:space:]]Dip.mp4 filter=lfs diff=lfs merge=lfs -text
